@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1100px) {
    table {
        width: 100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: rgb(30 41 59);
        font-weight: bold;
        font-size: 1.3em;
        color: white;
    }
    tbody td {
        display: block;
        text-align: center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align: center;
    }

    .dashBoard,
    .menu,
    .menu0 {
        height: 100%;
    }
}

/* sideBar Responsive */
@media screen and (max-width: 800px) {
    .titulo {
        font-size: medium;
    }
    .sideBar {
        font-size: smaller;
        word-wrap: break-word;
    }
    .icono {
        margin-left: 0 !important;
    }
}

/*Tabla Responsive*/
@media screen and (max-width: 1600px) {
    th {
        padding-left: 56px !important;
        padding-right: 56px !important;
    }
}

/*Tabla Responsive*/
@media screen and (max-width: 1400px) {
    th {
        padding-left: 46px !important;
        padding-right: 46px !important;
    }
}

/*Tabla Responsive*/
@media screen and (max-width: 1300px) {
    th {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

/*Menu desplgable*/
.menu ul li:hover > ul {
    display: block;
}

.bwhite {
    background-color: white;
}

::-webkit-scrollbar {
    display: none;
}

* {
    user-select: none;
  }
  *::selection {
    background: none;
  }
  *::-moz-selection {
    background: none;
  }